<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />

<script>
function hideAddressBar()
{
    if(!window.location.hash)
    {
        if(document.height <= window.outerHeight + 10)
        {
            document.body.style.height = (window.outerHeight + 50) +'px';
            setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
        }
        else
        {
            setTimeout( function(){ window.scrollTo(0, 1); }, 0 );
        }
    }
}
window.addEventListener("load", hideAddressBar );
window.addEventListener("orientationchange", hideAddressBar );
 </script>

<!--  this snippet should be included via
  AssetProxy macro in the header of any page
  where the spash image should be displayed
  the first part starts loading the splash images
  then in between it loads jQuery
  the second part creates and configs the splash div element
  the third part adds style to the splash element
-->
<!--
<script type="text/javascript">

  // these next two functions should choose a url based on some browser/device paramter
  // url should include some dimensions for the image ( should match: \d+x\d+ )

function get_splash_landscape() {
    return "http://sample.usembassy.gov/splash-images/sh_480x320.jpg";
}

function get_splash_portrait() {
    return "http://sample.usembassy.gov/splash-images/sh_320x480.jpg";
}

if (typeof WebGUI == "undefined") {
    WebGUI = {};
}
if (typeof WebGUI.Embassy == "undefined") {
    WebGUI.Embassy = {};
}

(function(){
  var forceSplash = 0;
  if( window.location.hash == '#splash' ) { // force the splash for redirect
      window.location.hash = '';
      forceSplash = 1;
  }

  WebGUI.Embassy.splashOn = 1;
  var site = window.location.protocol.concat('//'.concat( window.location.hostname ));
  var ref = document.referrer
      .replace(/^\w+:/,window.location.protocol) // make the referrer and location protocols match
      .substr(0,site.length);
  if( ref == site && ! forceSplash ) {
      WebGUI.Embassy.splashOn = 0;
  }

  if( WebGUI.Embassy.splashOn ) {
      // var myimage1 = new Image();
      // myimage1.src = "/mobile_splash.png";
      WebGUI.Embassy.splashPortraitUrl = get_splash_portrait();
      WebGUI.Embassy.splashLandscapeUrl = get_splash_landscape();
      var myimage2 = new Image();
      myimage2.src = WebGUI.Embassy.splashPortraitUrl;
      var myimage3 = new Image();
      myimage3.src = WebGUI.Embassy.splashLandscapeUrl;
  }

})();

</script>

<script src="http://sample.usembassy.gov/jquery.js" type="text/javascript"></script>

<script type="text/javascript">

(function($) {

  var msec = 10;

  if( WebGUI.Embassy.splashOn ) {

    // TODO: generate the style/background for the splash image

      WebGUI.Embassy.stash = $('<div />').delay(msec).queue(function(next) {
        $('body').delegate('div#splash','click',function(){
         $('div#splash').hide();
    });
      });

      WebGUI.Embassy.HideSplash = function() {
          $('div#splash').delay(900).fadeOut('slow');
      };

  } else {

        // this hack waits for the splash div to show up then removes it
        //  the delay of 10ms may or may not be the best...
      WebGUI.Embassy.stash = $('<div />').delay(msec).queue(function(next) {
          $('div#splash').remove();  next();
      });

  }

  WebGUI.Embassy.SplashDiv = function() {
      if( WebGUI.Embassy.splashOn ) {
    $('div#splash').click(function() {
         $('div#splash').hide();
    });
      } else {
    $('div#splash').remove();
      }
  }

})(jQuery);

</script>

<style type="text/css">

@media only screen and (max-height: 500) and (max-width: 350) {
  #splash {
    background-image: url('http://sample.usembassy.gov/splash-images/sh_480x320.jpg');
        }
}

@media only screen and  (orientation: landscape) {
  #splash {
    background-image: url('http://sample.usembassy.gov/splash-images/sh_480x320.jpg');
        }
}

@media only screen and (max-height: 350) and (max-width: 500) {
  #splash {
    background-image: url('http://sample.usembassy.gov/splash-images/sh_320x480.jpg');
        }
}

@media only screen and  (orientation: portrait) {
  #splash {
    background-image: url('http://sample.usembassy.gov/splash-images/sh_320x480.jpg');
        }
}

#_splash {
  background-image: url('http://sample.usembassy.gov/mobile_splash.png');
}

</style>
-->

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
<link rel="apple-touch-startup-image" href="http://sample.usembassy.gov/sh_320x460.jpg">

<!-- Standard iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://sample.usembassy.gov/uploads/92/fa/92fa48f31596f755cf13329272cbf4f3/phoneIcon57.png" />
<!-- Retina iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://sample.usembassy.gov/uploads/2c/d5/2cd5740a8e6e718b8c746f0636fec993/phoneIcon114.png" />
<!-- Standard iPad -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://sample.usembassy.gov/uploads/6b/b0/6bb05ed8d9ba4ca4fe5d866b0639d4c2/tabletIcon72.png" />
<!-- Retina iPad -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://sample.usembassy.gov/uploads/01/43/0143dec6170dceb4f42902d26722a9d9/tabletIcon144.png" />

<title>Example: Home Slideshow - Embassy News &#124; Embassy of the United States</title>

<!--- START OF auto meta values -->

<meta name="DC_title" lang="en-US" content="Example: Home Slideshow - Embassy News" />
<meta name="DC_description" content="" />
<meta name="DC_date" scheme="W3CDTF" content="2012-09-27" />
<meta name="DC_creator" content="U.S. Embassy" />
<meta name="DC_identifier" content="http://sample.usembassy.gov/index.html" />
<meta name="DC_source" content="http://sample.usembassy.gov/index.html" />
<meta name="template_format" content="embassy"/>
<meta name="template_version" content="2.0"/>
<meta name="template_language" content="English"/>
<meta name="DC_language" content="en"/>

<!--- END OF OF auto meta values -->

<link rel="icon" href="http://sample.usembassy.gov/uploads/a8/c8/a8c8946f070cdfd359db6934ae6c29d0/favicon.png" type="image/png" />
<link rel="SHORTCUT ICON" href="http://sample.usembassy.gov/uploads/f8/a1/f8a167b99da40f94e0b3effedfc17d91/favicon.ico" />


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="generator" content="WebGUI 7.9.30" /><meta http-equiv="Content-Script-Type" content="text/javascript" /><meta http-equiv="Content-Style-Type" content="text/css" /><script type="text/javascript">function getWebguiProperty (propName) {var props = new Array();props["extrasURL"] = "/extras/";props["pageURL"] = "/index.html";props["firstDayOfWeek"] = "0";return props[propName];}</script><meta http-equiv="Cache-Control" content="must-revalidate" />
<!-- eas css start -->

<style type="text/css" media="screen, print"> @import url(http://sample.usembassy.gov/style.css); </style>
<style type="text/css" media="screen, print"> @import url(http://sample.usembassy.gov/internal.css); </style>

<link rel="stylesheet" type="text/css" href="http://sample.usembassy.gov/style.css" />
<link rel="stylesheet" type="text/css" href="http://sample.usembassy.gov/mobile.css" />
<!-- javascript loaded up front because it re-builds the document -->
<!--
<script src="http://sample.usembassy.gov/jquery.js" type="text/javascript"></script>
<script src="http://sample.usembassy.gov/mobile.js" type="text/javascript"></script>
<script type="text/javascript">
if( $.browser.phone ) {
    var callback = function(next) {
  $('img:not(#splash):not(.popupBoxClose2),div.enlarge')
      .remove();
    };
    $('body').delay(10).queue(callback)  // short delay, rm images
       .delay(10).queue(callback); // again...
    $(callback);  // once more after docReady
}
</script>
-->
<!-- media="handheld, only screen and (max-device-width:480px)" -->

<!-- eas css end -->


</head>

<!-- eas header start -->
<!-- B. Main Container -->
<body class="index">
<!--<div id="splash"> </div>-->
<script type="text/javascript">
    WebGUI.Embassy.SplashDiv();
</script>



<!-- Begin Header -->
<div id='header'>
  <a href="index.html"><div id='logo'>
    <h1 id="logoTitle">UNITED STATES OF AMERICA</h1>
    <h2 id="logoSubTitle">Country of Example</h2>
  </div></a>
</div>
<div id='mnav'>
  <a href='#' class='back'>Back</a>
  <a href='#' class='home'>Home</a>
  <a href='#' class='search'>Search</a>
  <a href='#' class='menu'>Menu</a>
</div>
<div id='subNavContainer'>
<div id="search" class="search_area search">
    <form style="align: right" name="SearchForm" />
<!-- <input type="hidden" name="site" value="emb_wha_sample" />
<input type="hidden" name="client" value="emb_en_sample" />
<input type="hidden" name="output" value="xml_no_dtd" />
<input type="hidden" name="proxystylesheet" value="emb_en_sample" />
<input type="hidden" name="ie" value="utf8" />
<input type="hidden" name="oe" value="utf8" />
<input type="hidden" name="lr" value="lang_en" />
<input type="hidden" name="filter" value="0" /> -->
              <label for="searchText" class="access" title="Enter Search Terms">Enter search terms</label>
              <input type="text" title="Enter Search Terms"  title="Enter Search Terms" onclick="value=''" name="q" maxlength="256" class="search-text" id="searchText" style="width:200px; height:18px;" />
              <input class="button" name="Search" value="" src="http://sample.usembassy.gov/search.png" type="image" title="Search" alt="Search" />
            </form>
</div>
<div id='subNav' class='navBar'>
  <a href='#' class='list'>List</a>
  <a href='#' class='multimedia'>Multimedia</a>
  <a href='#' class='communities'>Communities</a>
  <a href='#' class='locations'>Locations</a>
</div>
<div id='listNav' class='catNav'></div>
<div id='mediaNav' class='catNav'></div>
<div id='comNav' class='catNav'>

<table><tr><td  valign="middle">

<div class="social-box">

  <ul class="follow" >



<a name="idr19-kHJoFmYge3Qn2h6Znw" id="idr19-kHJoFmYge3Qn2h6Znw"></a>




<li class="title">Follow us:</li>





<li>

<a target="_blank" href="http://www.twitter.com" title="Twitter">

<img width="20px" height="20px" class="share-local" src="http://photos.state.gov/libraries/sample/788/social-media/20x20_twitter.gif" title="Twitter" alt="Twitter" />
</a>
</li>





<li>

<a target="_blank" href="http://www.flickr.com" title="Flickr">

<img width="20px" height="20px" class="share-local" src="http://photos.state.gov/libraries/sample/788/social-media/20x20flickr.gif" title="Flickr" alt="Flickr" />
</a>
</li>





<li>

<a target="_blank" href="http://www.youtube.com/" title="YouTube">

<img width="20px" height="20px" class="share-local" src="http://photos.state.gov/libraries/sample/788/social-media/20x20_youtube.gif" title="YouTube" alt="YouTube" />
</a>
</li>





<li>

<a target="_blank" href="http://www.pinterest.com" title="Pinterest">

<img width="20px" height="20px" class="share-local" src="http://photos.state.gov/libraries/sample/788/social-media/20x20_pinterest.gif" title="Pinterest" alt="Pinterest" />
</a>
</li>





<li>

<a target="_blank" href="http://blogs.usembassy.gov/conversationsclimate/" title="Blogs">

<img width="20px" height="20px" class="share-local" src="http://photos.state.gov/libraries/sample/788/social-media/20x20_blog.gif" title="Blogs" alt="Blogs" />
</a>
</li>



    </ul>

</div>

  <br>

<div class="top-facebook-like">

  <ul >



<a name="id0XIqQ6t3hOV4XuTS1Pz__w" id="id0XIqQ6t3hOV4XuTS1Pz__w"></a>







<li>

<iframe src="http://www.facebook.com/plugins/like.php?href=http://www.state.gov&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>

</li>



    </ul>

</div>

  </td></td></table>

</div>
<div id='locNav' class='catNav'></div>
</div>
<div class='hideMe'> <!--  all of these get re-styled -->
<div>  <!-- Main Menu -->
     <a name="id3n7JozQ9Y03JupzQ75TN-A" id="id3n7JozQ9Y03JupzQ75TN-A" style="display:none"></a>

<ul id="menu">









  <li class="dropdown ">

  <a



        class="active"





  href="http://sample.usembassy.gov/index.html">
      Home
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/home-2.html">
      Example: Home Slideshow - RSS

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/home-3.html">
      Example: Home - Slideshow Full

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/home4.html">
      Example: Home - No Slideshow/No News

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/about-us.html">
      About Us
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/ambassador.html">
      Ambassador
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/amb-speeches.html">
      Ambassador's Speeches

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/embassy-info.html">
      Embassy Information
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/history.html">
      History

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/mission.html">
      Mission Statement

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/key-officers.html">
      Key Embassy Officers

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/holidays.html">
      Holiday Schedule

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/contact-information.html">
      Contact Information

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/sections-offices.html">
      Sections & Offices
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/pas.html">
      Public Affairs

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/cons.html">
      Consular Affairs

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/pol.html">
      Political Affairs

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/econ.html">
      Economic Affairs

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/comm.html">
      Commercial Affairs

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/agencies.html">
      US Agencies
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/usaid.html">
      USAID

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/peace-corps.html">
      Peace Corps

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/job-opportunities.html">
      Job Opportunities

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/visas.html">
      Visas
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/visa-general-info.html">
      General Information
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/hours-of-operation.html">
      Hours of Operation

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/appointments.html">
      Appointments & Processing Time

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/visa-wait-time.html">
      Interview & Wait Time

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/how-to-apply.html">
      How to Apply
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/instructions.html">
      Step by Step Instructions

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/step-accordion.html">
      Step-by-Step Accordion

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/photo-requirements.html">
      Photo Specifications

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/nonimmigrant-visas.html">
      Nonimmigrant Visas
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/niv-how-to-apply.html">
      How to Apply

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/niv-instructions.html">
      Step by Step Instructions

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/student-visas.html">
      Academics, Researchers & Students

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/athletes.html">
      Athletes, Artists & Entertainers

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/business-tourist.html">
      Business or Tourist Travelers

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/diplomat-visa.html">
      Diplomats & Government Officials

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/press-visa.html">
      Media & Religious Workers

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/temp-worker-visa.html">
      Temporary Workers

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/transit-visa.html">
      Transit Visas

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/root/english/visas/immigrant-visas.html">
      Immigrant Visas
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/application-requirements.html">
      Application Requirements

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/scheduling.html">
      Scheduling

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/reconsiderations.html">
      Reconsiderations

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/i-130.html">
      I-130 Petitions

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/iv-forms.html">
      Links to INS Forms

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/appointment-fess.html">
      Appointments & Fees

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/visa-forms.html">
      Visa Forms

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/visa-faq.html">
      Frequently Asked Questions

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/citizen-services.html">
      U.S. Citizen Services
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/emergency-contact.html">
      Emergency Contact

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/travel-alerts.html">
      Travel Alerts
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/warnings.html">
      Travel Warnings

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/curfews.html">
      Curfews

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/root/english/citizen-services/public-services.html">
      Public Services
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/irs-information.html">
      IRS Information / Income Tax

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/notaries.html">
      Notaries

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/selective-service.html">
      Selective Service Registration

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/voter-registration.html">
      Voter Registration

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/root/english/citizen-services/report-birth-abroad.html">
      Report Birth Abroad

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/root/english/citizen-services/passports.html">
      Passports Abroad
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/customs.html">
      Customs

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/lost-passport.html">
      Lost or Stolen Passports

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/professional-services.html">
      Professional Services

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/root/english/citizen-services/federal-benefits.html">
      Federal Benefits
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/social-security.html">
      Social Security

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/veterans-affairs.html">
      Veterans Affairs

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/adoption.html">
      Adoption

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/news.html">
      News & Events
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/press.html">
      Press Releases

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/speeches.html">
      Speeches

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/events.html">
      Events

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/rss-feeds.html">
      Syndicated Content
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/state-eur.html">
      state-eur

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/wh-blog.html">
      White House Blog

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/wh-press.html">
      White House Press Office

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/wh-photos.html">
      White House Photo Gallery

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/voa-news.html">
      VOA News

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/voa-asia.html">
      VOA - Asia

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/voa-persian.html">
      VOA Persian

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/usaid-tos.html">
      USAID - Telling Our Story

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/usaid-eur.html">
      USAID - EUR Releases

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/regional-news.html">
      Regional News

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/washington-news.html">
      News from Washington

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/key-reports.html">
      Key Reports

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/business.html">
      Business
    </a>
    <ul  >








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/doing-business-local.html">
      Doing Business in "Host Country"

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/doing-business-usa.html">
      Doing Business in the USA

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/economic-data.html">
      Economic Data & Reports

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/key-business-links.html">
      Key Business Links

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/business-faq.html">
      FAQs

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/commercial-opportunities.html">
      Commercial Opportunities

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/upcoming-business-events.html">
      Upcoming Events

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/did-you-know.html">
      Did You Know?

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/business-success-stories.html">
      Success Stories

    </a>
    </li>






  </ul></li>

  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/topic-of-interest.html">
      Extra Section

    </a>
    </li>








  <li class="dropdown ">

  <a







  href="http://sample.usembassy.gov/event1.html">
      Event
    </a>
    <ul  >








  <li class="dropdown last">

  <a







  href="http://sample.usembassy.gov/ev-internal.html">
      Internal Event Page

    </a>
    </li>





                </ul>






</ul>
</div>
<div>  <!-- Media -->


<a name="idlB78BcHu_IHlApy7qu34Lw" id="idlB78BcHu_IHlApy7qu34Lw"></a>

    <ul id="option1" >






      <li><a class="maintainHover" title="Locations" href="http://sample.usembassy.gov/locations.html">Locations</a>

        <ul>





          <li class=" "><a class=" " href="http://www.state.gov" target="_blank" title="Consulate 1">Consulate 1</a></li>








          <li class=" "><a class=" " href="http://www.state.gov" target="_blank" title="Consulate 2">Consulate 2</a></li>








          <li class=" "><a class="sub_title" href=""   title="VPP">VPP</a></li>








          <li class="sub"><a class=" " href="http://www.state.gov" target="_blank" title="VPP 1">VPP 1</a></li>








          <li class="sub"><a class=" " href="http://www.state.gov" target="_blank" title="VPP 2">VPP 2</a></li>







        </ul>
        </li>
    </ul>





</div>
<div>   <!-- Comunities -->


<a name="idSmMbPEUBTHlKrg3AozfNOw" id="idSmMbPEUBTHlKrg3AozfNOw"></a>

    <ul id="option2" >






      <li><a class="secondary_nav" title="Communities" href="http://sample.usembassy.gov/communities.html">Communities</a>

        <ul>






          <li class=" "><a class=" " href="http://blogs.usembassy.gov/conversationsclimate/" target="_blank" title="Blogs">Blogs</a></li>








          <li class=" "><a class=" " href="http://www.iipconx.org/" target="_blank" title="CO.NX Webchats">CO.NX Webchats</a></li>








          <li class=" "><a class=" " href="http://www.facebook.com" target="_blank" title="Facebook">Facebook</a></li>








          <li class=" "><a class=" " href="http://www.twitter.com" target="_blank" title="Twitter">Twitter</a></li>








          <li class=" "><a class=" " href="http://sample.usembassy.gov/state-alumni.html"   title="Exchange Program Alumni">Exchange Program Alumni</a></li>







        </ul>
        </li>
    </ul>





</div>
<div>  <!-- Locations -->


<a name="idmbSbvmXNOWFNQep9-H7LEw" id="idmbSbvmXNOWFNQep9-H7LEw"></a>

    <ul id="option3" >






      <li><a class="secondary_nav" title="Multimedia" href="http://sample.usembassy.gov/multimedia.html">Multimedia</a>

        <ul>





          <li class=" "><a class=" " href="http://sample.usembassy.gov/audio.html"   title="Audio">Audio</a></li>








          <li class=" "><a class=" " href="http://sample.usembassy.gov/podcasts.html"   title="Podcasts">Podcasts</a></li>








          <li class=" "><a class=" " href="http://sample.usembassy.gov/galleries.html"   title="Photo Galleries">Photo Galleries</a></li>








          <li class=" "><a class=" " href="http://sample.usembassy.gov/streamvideo.html"   title="Streaming Video">Streaming Video</a></li>








          <li class=" "><a class=" " href="http://sample.usembassy.gov/video.html"   title="Video">Video</a></li>








          <li class=" "><a class=" " href="http://sample.usembassy.gov/webchat.html"   title="Webchat">Webchat</a></li>







        </ul>
        </li>
    </ul>




</div>

<div id="FacebookBar" class='catNav'>
</div>

<div id="languageBar" class='catNav'>
     <div id="top_bar_left_container" class="grid_5 prefix_1" >
  <a name="idVeADObDdOW0Ivged-VgRwQ" id="idVeADObDdOW0Ivged-VgRwQ"></a>

  <ul class="top_bar_left" >








      <li class="عربي "><a class="first" href="http://iipdigital.usembassy.gov/arabic/" target="_blank" title="عربي">عربي</a></li>


      <li class="Français "><a  href="http://iipdigital.usembassy.gov/french/" target="_blank" title="Français">Français</a></li>


      <li class="Español last"><a  href="http://iipdigital.usembassy.gov/spanish/" target="_blank" title="Español">Español</a></li>

  </ul>
</div>

</div>
<div id="extrasBar" class='catNav'>
     <div>

<a name="idxKZKdkcM2_HneCjVf8AzoA" id="idxKZKdkcM2_HneCjVf8AzoA"></a>

  <ul class="top_bar_right" >









            <li class="Contact Us "><a href="http://sample.usembassy.gov/contact.html"   title="Contact Us">Contact Us</a></li>




            <li class="RSS Feeds last-child"><a href="http://sample.usembassy.gov/rss.html"   title="RSS Feeds">RSS Feeds</a></li>

  </ul>

</div>
</div>

</div> <!-- end of hidden items -->
<!--End Header -->

<!-- Begin Content -->



      <!-- B. Breadcrumb-->
    <a class="skip-nav"  href="#skipBreadcrumb" title="Skip Breadcrumb Navigation">
     <img src="http://sample.usembassy.gov/uploads/d2/76/d276c26fd50bf82bbb5db98072dc22c1/placeholder.png" width="1" height="0" border="0" alt="Skip Breadcrumb Navigation" title="Skip Breadcrumb Navigation" />
    </a>
<div class="container_12">
    <ul id="no-breadcrumbs">
<li>&nbsp;</li>
</ul>

</div>

<!-- E  Breadcrumb-->
<div id="skipGlobalNav"></div><span id="skipBreadcrumb"></span>


    <a name="idS2KSUIAuVJKvEMrTJP_AhQ" id="idS2KSUIAuVJKvEMrTJP_AhQ"></a>
<!-- eas header end -->


<!-- begin Main Content Area -->


<!-- end Main Content Area -->



<!-- E.  Main Content-->



<!--End Content -->

<!-- eas footer start -->
<!-- Begin Footer -->
<br>

<div id="mobile-footer">

    <div id="top_bar_left_container" class="grid_5 prefix_1" >
  <a name="idVeADObDdOW0Ivged-VgRwQ" id="idVeADObDdOW0Ivged-VgRwQ"></a>

  <ul class="top_bar_left" >








      <li class="عربي "><a class="first" href="http://iipdigital.usembassy.gov/arabic/" target="_blank" title="عربي">عربي</a></li>


      <li class="Français "><a  href="http://iipdigital.usembassy.gov/french/" target="_blank" title="Français">Français</a></li>


      <li class="Español last"><a  href="http://iipdigital.usembassy.gov/spanish/" target="_blank" title="Español">Español</a></li>

  </ul>
</div>




<a name="idFStmdKhWv_y68iIKE-4bxw" id="idFStmdKhWv_y68iIKE-4bxw"></a>

<ul >









  <li class=" "><a href="http://sample.usembassy.gov/contact.html"   title="Contact Us">Contact Us</a></li>








  <li class=" "><a href="http://sample.usembassy.gov/faq.html"   title="FAQs">FAQs</a></li>








  <li class=" "><a href="http://sample.usembassy.gov/site-index.html"   title="Site Index">Site Index</a></li>








  <li class="last-child"><a href="http://sample.usembassy.gov/privacy.html"   title="Privacy">Privacy</a></li>







</ul>


    <div> <script type="text/javascript">
    // <![CDATA[
    var showElem2;
    showElem2 = function( showID2 ) {
    div = (( document.getElementById ) ? document.getElementById( showID2 ) : document.all[ showID2 ] );
    try {
    div.className = (( div.className === "hide" ) ? "show" : "hide" );
    } catch( e ) {
    div.style.display = (( div.style.display === "none" ) ? "block" : "none" );
    }
    };
    // ]]>
    </script>

<div id="div2" class="hide">
<div class="opactable2">
<div class="poptable2">
<div class="feedbacktable2">

<div class="closebuttonleft2">
<a href="javascript:void(0);" onclick="showElem2('div2');"> <img src="http://sample.usembassy.gov/uploads/10/ed/10edf725db3e7ecfc7872f093321fb4b/close.png" class="popupBoxClose2"></a>
</div>


<div class="footer-disclaimer">
<div class="disclaimer_flag" alt="U.S. Flag" title="U.S. Flag"></div><ul class="disclaimer">
  <li>This site is managed by the U.S. Department of State. External links to other Internet sites should not be construed as an endorsement of the views or privacy policies contained therein.</li>
</ul>
</div>
</div>

</div>
</div>
</div>
</div>

<a href="javascript:void(0);" onclick="showElem2('div2');">Disclaimer</a>

<!--div class="disclaimer-footer-bottom"><a href="javascript:void(0);" onclick="showElem2('div2');">Disclaimer</a>
</div-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://sample.usembassy.gov/index.html?mredirect=false">Full Site</a></div>

</div>


<!--End Footer -->
<!-- eas footer end -->

<script type="text/javascript">

jQuery(function() { WebGUI.Embassy.initMainPage() });

</script>

</body>
<!-- E. Main Container -->

</html>
