<div ng-controller="MyCtrl1">
  <form>
    <div class="input-append">
      <input class="span6" id="appendedInputButtons" value="{{query}}" ng-model="query" size="16" type="text"/>
      <button id="btnfix" class="btn btn-success">Search</button>
      <button id="noangular" onclick="searchbutton()">Test Me</button>
      <!--<button id="btnfix" class="btn btn-success" ng-click="SearchGsa()">Search</button>-->
    </div>
  </form>
  <div class="row-fluid">
    <!-- <pre>query = {{query}}</pre> -->
    <div class="span12">
      <!--<div ng-repeat="item in results">
      	<div class="span8">
        <h5 ng-bind-html="item.amount"></h5> -->
        <!--<p ng-bind-html="item.description"></p> -->
        </div>
    
      </div>
    </div>
  </div>
</div>
